MatPlot/.vs/MatPlot/v15/ipch/
MatPlot/.vs/MatPlot/v15/Browse.VC.db
MatPlot/Debug/
MatPlot/Release/
MatPlot/x64/
MatPlot/MatPlot/Debug/
MatPlot/MatPlot/Release/
MatPlot/MatPlot/x64/

MatPlotClient/.vs/MatPlotClient/v15/ipch/
MatPlotClient/.vs/MatPlotClient/v15/Browse.VC.db
MatPlotClient/Debug/
MatPlotClient/Release/
MatPlotClient/x64/
MatPlotClient/MatPlotClient/Debug/
MatPlotClient/MatPlotClient/Release/
MatPlotClient/MatPlotClient/x64/

MatPlotTest/.vs/MatPlotTest/v15/ipch/
MatPlotTest/.vs/MatPlotTest/v15/Browse.VC.db
MatPlotTest/Debug/
MatPlotTest/Release/
MatPlotTest/x64/
MatPlotTest/MatPlotTest/Debug/
MatPlotTest/MatPlotTest/Release/
MatPlotTest/MatPlotTest/x64/